.roadmap-overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: none;
}

.blank-page {
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  width: 30%;
  height: 100vh;
  padding: 0px 20px;
  z-index: 3;
  display: none;
}

.blank-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.toggle-btn {
  background-color: #39a169 !important;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 10px;
  border: none;
  height: 30px;
  color: black;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.toggle-btn.completed {
  background-color: #4dcc88 !important;
  color: white !important;
}

.toggle-btn.pending {
  background-color: #ecc94b !important;
}

.toggle-btn .toggle-btn-icon {
  font-size: 16px;
}

.close-btn {
  background-color: white !important;
  color: black !important;
  font-size: 22px;
  cursor: pointer;
  padding: 5px 10px;
}

.close-btn:hover {
  background-color: whitesmoke !important;
}

.tick {
  font-size: 12px;
}

.rm-panel {
  font-family: inherit;
}

.rm-panel .rm-panel-heading {
  margin-bottom: 10px;
}

.rm-panel-heading {
  font-weight: bold;
}

.rm-panel-body {
  line-height: 24px;
}

.rm-bottom-panel-title {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.rm-courses {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rm-course + .rm-course {
  margin-top: 10px;
}

.rm-course {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.rm-course a {
  color: black;
  text-decoration: none;
}

.rm-course a:hover {
  color: #6b6d6c;
}

.rm-course .rm-course-type {
  padding: 3px 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

.rm-course .rm-course-name {
  font-size: 13px;
  font-weight: 500;
}

.bg-orange {
  background-color: #fefcbf;
}

.bg-purple {
  background-color: #e9d8fd;
}

.m-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(
    --pure-material-font,
    'Roboto',
    'Segoe UI',
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.m-button::-moz-focus-inner {
  border: none;
}

/* Overlay */
.m-button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.m-button::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.m-button:hover,
.m-button:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.m-button:hover::before {
  opacity: 0.08;
}

.m-button:focus::before {
  opacity: 0.24;
}

.m-button:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.m-button:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.m-button:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.m-button:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.m-button:disabled::before {
  opacity: 0;
}

.m-button:disabled::after {
  opacity: 0;
}
/* 
.m-btn {
  cursor: pointer;
  background: #0384cc;
  color: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  text-transform: uppercase;
  min-width: 12rem;
  padding: 0.8rem 1.3rem;
  border: 1px solid transparent;
  border-radius: 0.7rem;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
  color: white;
}

.buttonSelect {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.m-btn:hover {
  background: #0276bc;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.18);
  transform: translatey(-2px);
}
.m-btn:active {
  box-shadow: none;
  transform: translatey(-1px);
}
.m-btn.selected {
  cursor: not-allowed;
  background: #64b863;
  border: 1px solid currentcolor;
  box-shadow: none;
  transform: translatey(0);
} */
